<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.board_portfolio.dao.BoardDao">
	<insert id="insertBoard">
		insert into board(bo_mb_nickname, bo_title, bo_content)
			values(#{board.bo_mb_nickname}, #{board.bo_title}, #{board.bo_content})
	</insert>
	
	<select id="selectBoardList" resultType="kr.spring.board_portfolio.vo.BoardVo">
		select * from board where bo_isDel = 'N' 
			<if test="cri.type == 1">
				and (bo_title like concat('%',#{cri.search},'%')
				or bo_content like concat('%',#{cri.search},'%')
				or bo_mb_nickname like concat('%',#{cri.search},'%'))
			</if>
			<if test="cri.type == 2">
				and bo_title like concat('%',#{cri.search},'%')
			</if>
			<if test="cri.type == 3">
				and bo_content like concat('%',#{cri.search},'%')
			</if>
			<if test="cri.type == 4">
				and bo_mb_nickname like concat('%',#{cri.search},'%')
			</if>
			<if test="cri.order == 'new'">
				order by bo_num desc 
			</if>
			<if test="cri.order == 'highView'">
				order by bo_view desc
			</if>
			limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectBoard" resultType="kr.spring.board_portfolio.vo.BoardVo">
		select * from board where bo_num = #{bo_num} and bo_isDel = 'N'
	</select>
	
	<update id="updateBoard">
		update board set bo_title = #{board.bo_title}, bo_content = #{board.bo_content} where bo_num = #{board.bo_num}
	</update>
	
	<update id="delBoard">
		update board set bo_isDel = 'Y' where bo_num = #{bo_num}
	</update>
	
	<select id="selectBoardCount" resultType="int">
		select count(*) from board where bo_isDel = 'N'
		<if test="cri.type == 1">
			and (bo_title like concat('%',#{cri.search},'%')
			or bo_content like concat('%',#{cri.search},'%')
			or bo_mb_nickname like concat('%',#{cri.search},'%'))
		</if>
		<if test="cri.type == 2">
			and bo_title like concat('%',#{cri.search},'%')
		</if>
		<if test="cri.type == 3">
			and bo_content like concat('%',#{cri.search},'%')
		</if>
		<if test="cri.type == 4">
			and bo_mb_nickname like concat('%',#{cri.search},'%')
		</if>
	</select>
	
	<insert id="insertComment" useGeneratedKeys="true" keyProperty="comment.com_num">
		insert into comment(com_mb_nickname, com_bo_num, com_content)
			values(#{comment.com_mb_nickname}, #{comment.com_bo_num}, #{comment.com_content})
	</insert>
	
	<select id="selectCommentList" resultType="kr.spring.board_portfolio.vo.CommentVo">
		select * from comment where com_bo_num = #{bo_num} and com_isDel = 'N'
	</select>
	
	<update id="updateComment">
		update comment set com_content = #{comment.com_content} where com_num = #{comment.com_num}
	</update>
	
	<select id="selectComment" resultType="kr.spring.board_portfolio.vo.CommentVo">
		select * from comment where com_num = #{com_num}
	</select>
	
	<update id="delComment">
		update comment set com_isDel = 'Y' where com_num = #{comment.com_num} and com_mb_nickname = #{comment.com_mb_nickname}
	</update>
	
	<update id="updateView">
		update board set bo_view = bo_view + 1 where bo_num = #{bo_num}
	</update>
	
	<update id="updateCommentCnt">
		update board set 
			<if test="cnt == 1">
				bo_commentCnt = bo_commentCnt + 1
			</if>
			<if test="cnt == -1">
				bo_commentCnt = bo_commentCnt +(-1)
			</if>
			where bo_num = #{bo_num}
		
	</update>
</mapper>