<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.board_portfolio.dao.BoardDao">
	<insert id="insertBoard">
		insert into board(bo_mb_nickname, bo_title, bo_content)
			values(#{board.bo_mb_nickname}, #{board.bo_title}, #{board.bo_content})
	</insert>
	
	<select id="selectBoardList" resultType="kr.spring.board_portfolio.vo.BoardVo">
		select * from board where bo_isDel = 'N' order by bo_num desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectBoard" resultType="kr.spring.board_portfolio.vo.BoardVo">
		select * from board where bo_num = #{bo_num}
	</select>
	
	<update id="updateBoard">
		update board set bo_title = #{board.bo_title}, bo_content = #{board.bo_content} where bo_num = #{board.bo_num}
	</update>
	
	<update id="delBoard">
		update board set bo_isDel = 'Y' where bo_num = #{bo_num}
	</update>
	
	<select id="selectBoardCount" resultType="int">
		select count(*) from board where bo_isDel = 'N'
	</select>
	
	<insert id="insertComment">
		insert into comment(com_mb_nickname, com_bo_num, com_content)
			values(#{comment.com_mb_nickname}, #{comment.com_bo_num}, #{comment.com_content})
	</insert>
</mapper>